{{template "Header" .}}
	<div class="row-fluid">
		<div class="hero-unit">
			<h1>Ingress&shy;entory</h1>
			<p class="lead"><em>Ingressentory</em> - Ingress Inventory. Keep track of your AP and inventory through your Ingress career.</p>
			<p>Not officially affiliated with <a href="http://ingress.com" target="_blank">Ingress</a> or <a href="http://nianticproject.com" target="_blank">Niantic Labs @ Google</a></p>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span4">
			<h2>Connect</h2>
			<p>Connect with Google by authorizing below</p>
			<p><a class="btn btn-primary" href="">Login</a><p>
		</div>
		<div class="span4">
			<h2>Setup</h2>
			<p>Connect to set up your account</p>
			<!--
			<p>Provide your Ingress username</p>
			<form>
				<div class="control-row input-append">
					<input type="text" name="Username">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		-->
		</div>
		<div class="span4">
			<h2>Track</h2>
			<p>Connect to begin tracking</p>
			<!--
			<p>Provide your first inventory entry</p>
			<a class="btn btn-primary" href="/update-inventory">Start Tracking</a>
		-->
		</div>
	</div>
{{template "Footer" .}}
