{{template "Header" .}}
	<div class="row-fluid">
		<form method="post" action="/inventory/update">
			<fieldset>
				<legend>Inventory Update</legend>
				<label for="AP">AP</label>
				<input name="AP" type="number" min="0">

{{$state := .Profile.Inventory.CurrentState}}
{{range $i, $count := $state.Resonators}}
				<label for="Resonators{{$i}}">L{{add $i 1}} Resonators</label>
				<div class="input-prepend input-append">
					<button type="button" class="btn">-</button>
					<input class="input-mini" id="Resonators{{$i}}" name="Resonators.{{$i}}" type="number" min="0" max="2000" value="{{$count}}">
					<button type="button" class="btn">+</button>
				</div>
{{end}}

			</fieldset>
		</form>
	</div>
{{template "Footer" .}}