{{template "Header" .}}
<div class="container">
{{$state := .Profile.Inventory.CurrentState}}
	<form method="post" action="/inventory/save" id="InventoryForm">
		<fieldset>
			<legend>Update Inventory</legend>
			<div class="row">
				<div class="control-group controls-row">
					<label class="control-label span2" for="Time">Entry Date</label>
					<div class="controls">
						<input class="span3" id="EntryTime" type="datetime-local" value="{{$state.Time.Format "2006-01-02T15:04"}}">
						<input type="hidden" name="Time" value="{{$state.Time}}">
					</div>
				</div>
				<div class="control-group controls-row">
					<label class="span2" for="AP">Action Points</label>
					<div class="controls">
						<input class="span3 L1" name="AP" type="number" min="0" value="{{$state.AP}}">
					</div>
				</div>
				<div class="control-group controls-row resonators">
					<div class="span2">Resonators</div>
					<div class="controls">
{{range $i, $count := $state.Resonators}}
						<input class="span1 L{{add $i 1}}" name="Resonators" type="number" min="0" value="{{$i}}">
{{end}}
					</div>
					<div class="span2"><span class="row-total">0</span>/0</div>
				</div>
				<div class="control-group controls-row xmps">
					<div class="span2">XMPs</div>
					<div class="controls">
{{range $i, $count := $state.XMPs}}
						<input class="span1 L{{add $i 1}}" name="XMPs" type="number" min="0" value="{{$i}}">
{{end}}
					</div>
					<div class="span2"><span class="row-total">0</span>/0</div>
				</div>
				<div class="control-group controls-row powercubes">
					<div class="span2">Power Cubes</div>
					<div class="controls">
{{range $i, $count := $state.PowerCubes}}
						<input class="span1 L{{add $i 1}}" name="PowerCubes" type="number" min="0" value="{{$i}}">
{{end}}
					</div>
					<div class="span2"><span class="row-total">0</span>/0</div>
				</div>
				<div class="control-group controls-row mods">
					<div class="span2">Mods</div>
					<div class="controls">
						<input class="span1" name="Mods.VeryCommon" type="number" min="0" value="{{$state.Mods.VeryCommon}}">
						<input class="span1" name="Mods.Rare" type="number" min="0" value="{{$state.Mods.Rare}}">
						<input class="span1" name="Mods.VeryRare" type="number" min="0" value="{{$state.Mods.VeryRare}}">
					</div>
					<div class="span2 offset5"><span class="row-total">0</span>/0</div>
				</div>
				<div class="control-group controls-row">
					<div class="span2">
						Portal Keys
						<div class="err help-block"></div>
					</div>
					<div class="controls">
						<input class="span8" id="PortalKeyCalc" type="text" value="{{$state.PortalKeys}}">
						<input type="hidden" name="PortalKeys" value="1">
					</div>
					<div class="span2"><span class="row-total" id="PortalKeyDisp">0</span>/0</div>
				</div>
				<div class="controls-row controls">
					<button type="submit" class="span2 offset4 btn btn-primary">Save changes</button>
					<button type="button" class="span2 btn">Cancel</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>
{{template "Footer" .}}
