{{template "Header" .}}
{{$state := .Profile.Inventory.CurrentState}}
	<form method="post" action="/inventory/update">
		<fieldset>
			<legend>Update Inventory</legend>
			<div class="row-fluid control-group">
				<label class="span2" for="Time">Entry Date</label>
				<div class="span2">
					<input class="span12" name="Time" type="datetime-local" value="{{$state.Time.Format "2006-01-02T15:04"}}">
				</div>
			</div>
			<div class="row-fluid control-group">
				<label class="span2" for="AP">AP</label>
				<div class="span2">
					<div class="input-prepend">
						<span class="add-on"></span>
						<input class="span12" name="AP" type="number" min="0" value="{{$state.AP}}">
					</div>
				</div>
			</div>
			<div class="row-fluid control-group">
				<div class="span2">Resonators</div>
{{range $i, $count := $state.Resonators}}
				<div class="span1 input-prepend">
					<span class="add-on L{{add $i 1}}"></span>
					<input class="span9" name="Resonators.{{$i}}" type="number" min="0" value="{{$count}}">
				</div>
{{end}}
				<div class="span2">0/0</div>
			</div>
			<div class="row-fluid control-group">
				<div class="span2">XMPs</div>
{{range $i, $count := $state.XMPs}}
				<div class="span1 input-prepend">
					<span class="add-on L{{add $i 1}}"></span>
					<input class="span9" name="XMPs.{{$i}}" type="number" min="0" value="{{$count}}">
				</div>
{{end}}
				<div class="span2">0/0</div>
			</div>
			<div class="row-fluid control-group">
				<div class="span2">Power Cubes</div>
{{range $i, $count := $state.PowerCubes}}
				<div class="span1 input-prepend">
					<span class="add-on L{{add $i 1}}"></span>
					<input class="span9" name="PowerCubes.{{$i}}" type="number" min="0" value="{{$count}}">
				</div>
{{end}}
				<div class="span2">0/0</div>
			</div>
			<div class="row-fluid control-group">
				<div class="span2">Mods</div>
{{range $i, $count := $state.Mods}}
				<div class="span1 input-prepend">
					<span class="add-on"></span>
					<input class="span9" name="Mods.{{$i}}" type="number" min="0" value="{{$count}}">
				</div>
{{end}}
				<div class="span2 offset5">0/0</div>
			</div>
			<div class="row-fluid control-group">
				<div class="span2">Portal Keys</div>
				<div class="span8">
					<input class="span12" type="text" value="0">
				</div>
				<div class="span2">0/0</div>
			</div>
			<div class="row-fluid control-group">
				<button type="submit" class="span2 offset4 btn btn-primary">Save changes</button>
				<button type="button" class="span2 btn">Cancel</button>
			</div>
		</fieldset>
	</form>
	<script>
	/* Some JavaScript for Portal Keys later
	var result = 5
	try {
		/[\d*+-/()]/
		resut = eval("1+2")
	} catch (e) {
		if (e instanceof SyntaxError) {

		} else {
			console.log(e.message)
		}
	}
	*/
	</script>
{{template "Footer" .}}
